.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 40px;
  border-radius: 16px;
  background-color: #ffffffb4;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 450px;
}

.feedback-form label {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 16px;
}

.feedback-form input,
.feedback-form textarea {
  width: 425px;
  margin-top: 5px;
  padding: 12px 12px;
  border: 1px solid gray;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  resize: none;

  &:hover {
    border-color: #a2a7fe;
  }

  &:focus {
    border-color: #5b63ff;
  }
}

.feedback-form button {
  padding: 12px 12px;
  min-width: 150px;
  background-color: #747bff;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  align-self: center;
}
.back-link {
  margin-bottom: 24px;
}
